@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-izzat: #7EB5C4;
  --color-shikin: #FF8A80;
  --color-ghash: #80CBC4;
  --color-haneeda: #B39DDB;
  --color-farhana: #FFAB91;
  --color-thanesh: #FFF176;
  --color-hazim: #FF7043;
  --color-fahad: #64B5F6;
  --color-hakim: #AED581;
}


